.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 72px;
  list-style: none;
  align-items: center;
}

.cell {
  text-align: center;
  border-collapse: collapse;
  font-size: 13px;
  font-family: var(--main-ff);
  font-weight: 300;
  width: 100px;
}

.btn {
  background-color: #ff6766;
  line-height: 18px;
  height: 18px;
  text-align: center;
  width: 30px;
  cursor: pointer;
  font-size: 9px;
  font-family: var(--main-ff);
}

/* 
========================
      BUTTON EDIT
========================
*/
.btnEdit {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  background-color: var(--darkgreen-color);
}
.btnEdit span {
  transition: all 0.3s;
}
.btnEdit::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: var(--darkgreen-color);
  border-bottom-color: var(--darkgreen-color);
  transform: scale(0.1, 1);
}
.btnEdit:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btnEdit:hover span {
  letter-spacing: 2px;
  color: var(--darkgreen-color);
}
.btnEdit:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btnEdit::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btnEdit:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/* 
========================
      BUTTON DEL
========================
*/
.btnDel {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.btnDel span {
  transition: all 0.3s;
}
.btnDel::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 75%;
  height: 25%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  border: 1px solid #ff6766;
  background-color: #ff6766;
}
.btnDel::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 75%;
  height: 25%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  border: 1px solid #ff6766;
  background-color: #ff6766;
  transform: translate(0, 50%);
}
.btnDel:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btnDel:hover::before {
  transform: rotate(-45deg);
  background-color: #ff6766;
  opacity: 1;
}
.btnDel:hover::after {
  transform: rotate(45deg);
  background-color: #ff6766;
  opacity: 1;
}

.btnBlock {
  display: flex;
  justify-content: space-around;
}
