.tableBody {
  width: 100%;
  max-height: 658px;
  overflow-y: scroll;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  overflow-x: hidden;
}

.tableRow {
  list-style: none;
  transition: all 0.5s ease-in-out;
}

.tableRow:hover {
  background: linear-gradient(
    0deg,
    rgba(236, 178, 42, 0.2) 0%,
    rgba(255, 108, 0, 0.2) 100%
  );
  transform: scale(1.02);
}

.tableRow:nth-child(even) {
  background-color: #f3f6f6;
}

.tableRow:nth-child(odd) {
  background-color: #fff;
}

.warning {
  text-align: center;
  font-family: var(--main-ff);
  font-size: 15px;
  line-height: 72px;
  font-weight: bold;
  color: rgba(255, 108, 0, 0.70196);
}
